.slider{
width: 50%;
margin-left: 25%;
overflow: hidden;

}

.slider ul{
display: flex;
width: 400%;
padding: 0;
animation: animacion1 30s infinite alternate linear;
}

.slider img {
	width: 100%;
}

.slider li{
width: 100%;
list-style-type: none;
}
@keyframes animacion1 {
	0%{margin-left: 0}
	20%{margin-left: 0}
	
	25%{margin-left: -100%}
	45%{margin-left: -100%}
	
	50%{margin-left: -200%}
	70%{margin-left: -200%}
	
	75%{margin-left: -300%}
	100%{margin-left: -300%}
}

img{
width: 300px;
height: 200px;
}
