body{

}

ul{

}

li{
    width:50px;
    transition: width 2s;
}

li a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

li:hover{
    width: 200px;
}

a:link{
    background-color: yellow;
}

a:hover{
    background-color: black;
}