body{
margin:0;
}

#caja1{
margin-left: 25%;
height: 1000px;
padding: 1px 16px;

}

ul{
list-style-type: none;
margin:0;
width: 20%;
height:100%;
position: fixed;
background-color: #f1f2f3;

}

li{
	width: 10px;
	transition: width 2s;
}

li a{

color:black;
padding: 8px 16px;

text-decoration: none;
display: blocK;

}

li:hover{
width: 200px;
}

a:link{
background-color: yellow;
color:red;

}

a:hover{
background-color: black;
color:white;

}